#contenedor {
	/*Diseño centrado de forma dinámica, esto es, adaptable a la anchura de 
	la ventana del navegador.*/
	width: 80%;	/*anchura del 80%*/
	heigth: 100%;
	margin: 0 auto;	/*Márgenes sup. e inf. a 0. Márgenes laterales auto.*/
	background: lightskyblue;
}

.bloqAsunto {
	float: left;
  	width: 20%;
  	/*background: lightskyblue;*/
}

.bloqInfo {
	float: left;
	width: 80%;
	background: gray;
}
/*
.foto {
	float: right;
	width: 25%;
	/*height: 10%;*/
}
*/
/*
.nombre {
	float: left;
	width: 75%;
	/*height: 10%;*/
}
*/

/*
.asunto {
	display: 
	width: 10%;
}
*/