
.columna {
	border:1px solid #444;
	display:inline-block;
	float:left;
}


#col-izquierda {
	background:#5499c7;
	/*width:362px;*/
	height:100%;
}

#col-izquierda img {
	/*
	height: auto;
	max-width: 100%;
	*/
	display: block;
	margin: 0 auto;
}

/*
#col-izquierda h1, h2, h3, p{
	color:white;
}
*/

.fila-bordes {
	border-top: solid  #a9cce3;
    border-bottom: solid  #a9cce3;
    border-style: medium;
}

.enlinea1 {
	display:inline-block;
	width:50%;
	float: left;
}

.enlinea2 {
	display:inline-block;
	width:50%;
	float: left;
	margin-bottom: 40px;
}

.enlinea3 {
	display:inline-block;
	width:50%;
	height: 75px;
	float: left;
	margin-bottom: 40px;
}

.fila-bordeInf {
	border-bottom: solid  #a9cce3;
    border-style: medium;
}

.destacado {
	font-weight: bold;
}

.nombre {
	text-align:center;
}

.bloqIzq {
	padding:25px;
}

#col-principal {
	width:50%;
	/*width:auto;*/
	height:100%;
	padding:25px;
}

.justificado {
	text-align: justify;
}
