
h1 {
	font-family: 'Bungee Inline', cursive;
}

h2 {
	font-family: 'Nova Mono', monospace;
}

#fullcite1 p {
	font-family: 'Macondo', cursive;
}

#fullcite2 p {
	font-family: 'Cinzel Decorative', cursive;
}

#fullcite3 p {
	font-family: Georgia, serif;
}

#fullcite4 p {
	font-family: "Courier New", monospace;
}