h1 {
	color: #FF0000;

}



#fullcite {
	border: solid 1px;
	font-size: 48px;
	background-image: url("simpleR.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 626px;
	height:626px;
	padding: 20px 20px 20px 20px;

}

#cite {	
	font-weight: bold;
}

#author {	
	text-align: right;
	font-style: italic;
	font-size: 40px;
	color: gray;

}
