.animate-in {
    -webkit-animation: fadeIn 2s ease-in;	/* Safari 4.0 - 8.0 */
    animation: fadeIn 2s ease-in;	/* Standard syntax */
    /* animation: animation-name animation-duration animation-timing-function */
    /* animation-timing-function: ease-in => The animation has a slow start. */
}
.animate-out {
    -webkit-transition: opacity 2s;	/* Safari */
    transition: opacity 2s;	/* Standard syntax */
    /* transition: transition-property transition-duration */
    /* transition-property: Specifies the name of the CSS property the transition effect is for. */
    opacity: 0;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes fadeIn {
    from { opacity: 0; } /* Objeto completamente transparente. */
    to { opacity: 1; }	/* Objeto con su valor por defecto (original). */
}

/* Standard syntax */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
