body {
	font-size:20px;
}

#gradienteAzul{
	background: linear-gradient(to right,#0B2F3A, #CEE3F6);
	
}

.textoVertical {
	transform: rotate(-90deg);
    transform-origin: left, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:right, top;

  white-space: nowrap;
  position: absolute;
  top: 100px;
  left: -60px;
  color: #FFFFFF;

}

.styleCV{
	font-size:30px;
}

#nombre {
	font-family: Helvetica, Sans-Serif;
	font-size:40px;
	color: #0B2F3A;
}

#apellidos {
	font-family: Helvetica, Sans-Serif;
	font-size:48px;
	font-weight: bold;
	color: #0B2F3A;
}

#titulacion {
	font-family: Helvetica, Sans-Serif;
	font-size:30px;
	font-style: italic;
	color: #0B2F3A;
}

.titulo-datos{
	font-weight: bold;
}

.info-datos{
	font-style: italic;
	color:#045FB4;
}

.tituloDatos {

    border-style: solid 1px;
    border-bottom: thick solid #0B2F3A;
}

.tituloDatosVertical {
	transform: rotate(-90deg);
    transform-origin: left, top;
    -ms-transform: rotate(-90deg);
    -ms-transform-origin:right, top;
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin:right, top;

  white-space: nowrap;
  position: absolute;
  top: 90px;
  left: -20px;
  color: #FFFFFF;
  font-size: 24px;
  font-style: italic;
  font-family: Helvetica, Sans-Serif;
  line-height:1;
  letter-spacing: 2px;

}

h3>span {
	font-style: italic;
	font-family: Helvetica, Sans-Serif;
	background-color:#0B2F3A;
	line-height:1;
	letter-spacing: 2px;
	color: #FFFFFF;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    font-size: 24px;
    display: inline;
    margin-left: -20px;
    padding-right:20px;
    clear: both;
}

.box{
	border:1px solid #0B2F3A;
	margin: 1px 1px 1px 1px;
}

.bg{
	background-color:#0B2F3A;
}





p {
    display: inline;
}







clear {
	
      clear: both;
}
